<html>
    <head>
        <style>
            body{
                background: skyblue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome <%= person %></h1>
        <h1>Age : <%= data.age %></h1>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(hobby){ %>
                <li><%= hobby %></li>
            <% }); %>

        </ul>
    </body>
</html>